<h1>Alan Muñoz</h1>

<form>
  Nombre:<br>
  <input type="text" name="nombre"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Edad:<br>
  <input type="number" name="edad">
  <input type="submit" value="Enviar">
</form>